* { margin:0; padding:0; box-sizing:border-box; }
body{
	background: url("../images/rmh-ny-family-portrait.jpg");
	background-size: cover;
	color: #53493f;
	font-family:arial, helvetica, sans-serif;
	font-size:16px;
}
h1,h2,h3,h4,h5,h6{
	font-family: "alternate-gothic-no-1","Helvetica Neue", Arial, Helvetica,sans-serif;
	font-weight: 400;
}
#headline{
}
#slogan{
	font-style: italic;
	font-size: 14px;
}